
<div class="container">
<h3 class="text-center"><a href="/get-allThreats" class="btn btn-primary">Check All threats Reported</a></h3>
  <table class="table table-bordered">
    <tr>
      <th>Sr.No</th>
      <th>User</th>    
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>Message</th>
      <th>Status</th>
      <th>Help User</th>    
    </tr>
    {{# each items as |item index|}}
    <tr>
      <td>{{index}}</td>
      <td id="uname">{{ this.username}}</td>    
      <td id="lat">{{ this.location.lat}}</td>
      <td id="lng">{{ this.location.lng}}</td>
        <td id="lng">{{ this.userCity}}</td>
      <td id="msg">{{ this.location.message}}</td>
      <td id="status">{{this.status}}</td>
      <td><h3 class="text-center"><button onclick="sendRequest('{{ this.location.lat}}','{{ this.location.lng}}','{{this.status}}');ChangeStatus('{{this.username}}');" class="btn btn-primary">Navigate</button></h3></td>
    </tr>
    {{/each}}
  </table>
</div>